
<div class="azdesnamespace">
    <div id="navbarheader" class="collapse-3HDE5 in-3HDE5">
        <div id="navbar-3HDE5" role="banner" class="navbar-3HDE5 azdesbackground collapse-3HDE5 in-3HDE5"
            style="margin-bottom: 0px;">

            <div class="container-3HDE5 direction" style="align-items: center; padding-right: 0px; padding-left: 0px;">


                <input class="togglecheckbox" type="checkbox" id="menu" style="display: none">
                <div class="col-3HDE5-sm-3 text-center">
                    <a class="logo" href="https://des.az.gov" target="_blank" title="Home">
                        <img class="logo-img img-responsive-3HDE5"
                            src="https://s3-us-west-2.amazonaws.com/azdes-cdn-test/Assets/img/logo.png" alt="Home"
                            target="_blank">
                    </a>
                </div>
                <div class="col-3HDE5-sm-6  text-center">
                    <a class="agencyname a-name " href="https://des.az.gov" target="_blank" title="Home">Arizona
                        Department of Economic Security</a>
                    <div class="agencysubname a-name " href="https://des.az.gov" target="_blank" title="Home"
                        style="color:#fff;">Your Partner for a Stronger Arizona</div>
                </div>
                <div class="col-3HDE5-sm-3 hidden-xs text-right ">
                    <a href="https://az.gov/" target="_blank">
                        <img src="https://s3-us-west-2.amazonaws.com/azdes-cdn-test/Assets/img/azgov-logo.png"
                            target="_blank" alt="AZ Gov Logo">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div style="background: #223064;">
    <nav class="container navbar navbar-expand-lg">
        <a href="http://localhost:8080" style="padding: 10px;color: white;">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://des.az.gov/about-des/welcome-to-des" target="_blank">About
                    DES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="https://des.az.gov/services" target="_blank">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://des.az.gov/about-des/contact-us" target="_blank">Contact
                    Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://des.az.gov/documents-center" target="_blank">Document
                    Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://des.az.gov/media-center" target="_blank">Media Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://des.az.gov/find-your-local-office" target="_blank">Find Your
                    Local Office</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated && userName">

                <a class="nav-link" >Welcome, {{ userName }}!</a>
            </li>
          </ul>
          
        </div>
        
      </nav>
</div>
