<footer>
    <div class="row"
        style="background-color: #223064;background: linear-gradient(to right, #1b75bc 0%, #223064 100%);">
        <div class="col-md-12 d-flex justify-content-center text-center">
            <nav class="navbar navbar-expand-md">

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item"><a href="https://des.az.gov/privacy-statement" target="_blank"
                                class="footer-nav-text" style="line-height:40px; color:#fff; ">Privacy Policy</a></li>
                        <li class="nav-item"><a href="https://des.az.gov/equal-opportunity-and-reasonable-accommodation"
                                target="_blank" class="footer-nav-text"
                                style="line-height:40px; color:#fff; ">Reasonable
                                Accommodation</a></li>
                        <li class="nav-item"><a href="https://des.az.gov/disclaimer" target="_blank"
                                class="footer-nav-text" style="line-height:40px; color:#fff; ">Disclaimer</a></li>



                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div style="background: #223064;" class="row">
        <div class="col-md-7 d-flex justify-content-end text-center">
            <p class="copyright-text clearfix" style="display:inline;color: #fff;">&#169;<span id="copyright">
                </span> Arizona Department of Economic Security. </p>
        </div>
        <div class="col-md-3 d-flex justify-content-start">
            <div class="col-3HDE5-md-2 col-3HDE5-xs-6 social-media-bar text-center verticalcenter"
                style="display:inline;"> <a href="https://www.facebook.com/OfficialArizonaDES" target="_blank"
                    style="padding-left:10px; padding-right:6px;"><i class="fa fa-facebook fa-color"
                        style="color:#fff;">
                    </i></a> <a href="https://twitter.com/arizonades" target="_blank"
                    style="padding-left:6px; padding-right:6px;"><i class="fa fa-twitter fa-color" style="color:#fff;">
                    </i></a> <a href="https://www.youtube.com/azdesgov" target="_blank"
                    style="padding-left:6px; padding-right:6px;"><i class="fa fa-youtube fa-color" style="color:#fff;">
                    </i></a> </div>
        </div>
    </div>
</footer>