<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" type="text/css"
        href="https://s3-us-west-2.amazonaws.com/azdes-cdn/AzDesHeaderFooter/css/azdesnamespace.css">
<style>
  ul li {
    display: inline;
    padding: 20px;
  }
</style>
</head>

<body style="margin: 0;">
<header>
  <div class="azdesnamespace">
    <div id="navbarheader" class="collapse-3HDE5 in-3HDE5">
      <div id="navbar-3HDE5" role="banner" class="navbar-3HDE5 azdesbackground collapse-3HDE5 in-3HDE5" style="margin-bottom: 0px;">

        <div class="container-3HDE5 direction" style="align-items: center; padding-right: 0px; padding-left: 0px;">


          <input class="togglecheckbox" type="checkbox" id="menu" style="display: none">

          <label for="menu" class="navbar-3HDE5-toggle" data-toggle="collapse-3HDE5" data-target=".navbar-3HDE5-collapse-3HDE5" style="cursor: pointer; z-index: 99;">
            <span class="sr-only-3HDE5">Toggle navigation</span>
            <span class="icon-bar-3HDE5"></span>
            <span class="icon-bar-3HDE5"></span>
            <span class="icon-bar-3HDE5"></span>
          </label>
          <div class="col-3HDE5-sm-3 text-center">
            <a class="logo" href="https://des.az.gov" target="_blank" title="Home">
              <img class="logo-img img-responsive-3HDE5" src="https://s3-us-west-2.amazonaws.com/azdes-cdn-test/Assets/img/logo.png" alt="Home" target="_blank">
            </a>
          </div>
          <div class="col-3HDE5-sm-6  text-center">
            <a class="agencyname a-name " href="https://des.az.gov" target="_blank" title="Home">Arizona Department of Economic Security</a>
            <div class="agencysubname a-name " href="https://des.az.gov" target="_blank" title="Home" style="color:#fff;">Your Partner for a Stronger Arizona</div>
          </div>
          <div class="col-3HDE5-sm-3 hidden-xs text-right ">
            <a href="https://az.gov/" target="_blank">
              <img src="https://s3-us-west-2.amazonaws.com/azdes-cdn-test/Assets/img/azgov-logo.png" target="_blank" alt="AZ Gov Logo">
            </a>
          </div>


          <!--Hidden until sm -->

          <div class="hidden-menu container-3HDE5-fluid upper-footer navbar-3HDE5-collapse-3HDE5 collapse-3HDE5">

            <div class="navbarwrapper clearfix" style="background: #223064;">
              <nav class="navbar-3HDE5 nobottommargin navbar-3HDE5-az">
                <div class="container-3HDE5">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <ul class="nav navbar-3HDE5-nav newcolor" style="padding-top: 3px;">
                    <li><a href="https://des.az.gov/about-des/welcome-to-des" target="_blank">About DES</a></li>
                    <li><a href="https://des.az.gov/services" target="_blank">Services</a></li>
                    <li><a href="https://des.az.gov/about-des/contact-us" target="_blank">Contact Us</a></li>
                    <li><a href="https://des.az.gov/documents-center" target="_blank">Document Center</a></li>
                    <li><a href="https://des.az.gov/media-center" target="_blank">Media Center</a></li>
                    <li><a href="https://des.az.gov/find-your-local-office" target="_blank">Find Your Local Office</a></li>
                  </ul>
                </div><!-- /.container-3HDE5-fluid -->
              </nav>
            </div>
          </div>
          <!-- Hidden until sm -->

         
        </div>

        <!--hidden when sm -->
        <div class="displaymenu container-3HDE5-fluid upper-footer">
          <div class="navbarwrapper clearfix" style="background: #223064;">
            <nav class="navbar-3HDE5 nobottommargin navbar-3HDE5-az">
              <div class="container-3HDE5">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse-3HDE5 navbar-3HDE5-collapse-3HDE5" id="navbarlinks">
                  <ul class="nav navbar-3HDE5-nav newcolor" style="padding-top: 3px;">

                    <li><a href="https://des.az.gov/about-des/welcome-to-des" target="_blank">About DES</a></li>
                    <li><a href="https://des.az.gov/services" target="_blank">Services</a></li>
                    <li><a href="https://des.az.gov/about-des/contact-us" target="_blank">Contact Us</a></li>
                    <li><a href="https://des.az.gov/documents-center" target="_blank">Document Center</a></li>
                    <li><a href="https://des.az.gov/media-center" target="_blank">Media Center</a></li>
                    <li><a href="https://des.az.gov/find-your-local-office" target="_blank">Find Your Local Office</a></li>
                  
                  <li *ngIf="isAuthenticated && userName"> 
                   <span style="color: wheat;"><b> Welcome, {{ userName }}! </b> <a  routerLink='' (click)="logout()">Logout</a> </span>
                    
                   
                  </li>
                  </ul>
                 
                </div><!-- /.navbar-3HDE5-collapse-3HDE5 -->
              </div><!-- /.container-3HDE5-fluid -->
              
            </nav>
           
          </div>

          <!-- For implementing AppName and UserName display -->
          <!-- Controls spacing of upper-footer -->
          <div class="navhelper" style="font-size: 40px;">
            <!-- For implementing AppName and UserName display -->
            <!-- <div class="col-3HDE5-md-2 col-3HDE5-xs-6 vertical-align" style="position: absolute">
                <p style="visibility:hidden" class="namedisplay">[ApplicationName]</p>
              </div>
              <div class="col-3HDE5-md-8 hidden-xs"></div>
              <div class="col-3HDE5-md-2 col-3HDE5-xs-6" style="position: absolute">
                <p style="visibility:hidden" class="namedisplay">[UserName]</p>
              </div>  -->
            <!-- ///////////////////////////////////////////// -->
          </div>

          <!-- /////////////////////////////////-->

        </div>

        <!-- hidden when sm -->

      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer style="position: fixed;bottom: 0px;width: 100%">
  <div class="azdesnamespace">
    <div class="panel-group" id="accordion" style="position: static; width: 100%; bottom: 0; margin:0;">
      <div id="navbarfooter" class="page-footer remove-margin panel-collapse-3HDE5 collapse-3HDE5 in-3HDE5"
           style="color:#fff;">
        <div class="footer-nav  white-text">
          <div class="container-3HDE5-fluid footer-nav">
            <div class="nav navbar-3HDE5-nav col-3HDE5-lg-12 text-center clearfix"
                 style="float: none; padding-right: 0px;">
              <ul style="list-style-type: none; padding-top: 10px;">
                <li class="footerlinks"><a href="https://des.az.gov/privacy-statement" target="_blank"
                                           class="footer-nav-text" style="line-height:40px; color:#fff; ">Privacy Policy</a></li>
                <li class="footerlinks"><a href="https://des.az.gov/equal-opportunity-and-reasonable-accommodation"
                                           target="_blank" class="footer-nav-text" style="line-height:40px; color:#fff; ">Reasonable
                  Accommodation</a></li>
                <li class="footerlinks"><a href="https://des.az.gov/disclaimer" target="_blank"
                                           class="footer-nav-text" style="line-height:40px; color:#fff; ">Disclaimer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright container-3HDE5-fluid">
          <div class="col-3HDE5-md-4 hidden-sm hidden-xs"> </div>
          <div class="footer-smlinks footer-content col-3HDE5-md-4  col-3HDE5-xs-6 text-center verticalcenter">
            <p class="copyright-text text-center clearfix" style="display:inline;">&#169;<span id="copyright">
                  <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                </span> Arizona Department of Economic Security. </p>
          </div>
          <div class="col-3HDE5-md-2 col-3HDE5-xs-6 social-media-bar text-center verticalcenter"
               style="display:inline;"> <a href="https://www.facebook.com/OfficialArizonaDES" target="_blank"
                                           style="padding-left:10px; padding-right:6px;"><i class="fa fa-facebook fa-color" style="color:#fff;">
          </i></a> <a href="https://twitter.com/arizonades" target="_blank"
                      style="padding-left:6px; padding-right:6px;"><i class="fa fa-twitter fa-color" style="color:#fff;">
          </i></a> <a href="https://www.youtube.com/azdesgov" target="_blank"
                      style="padding-left:6px; padding-right:6px;"><i class="fa fa-youtube fa-color" style="color:#fff;">
          </i></a> </div>
          <div class="col-3HDE5-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>