<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-xs-12 tile purple">
            <h3 class="title">Site 1</h3>
           <a target="_blank" href="http://localhost:8082/"> <img src="/assets/logo.png" ></a> 
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12 col-md-3 col-xs-12 tile red">
            <h3 class="title">Site 2</h3>
            <a target="_blank" href="http://localhost:8083/"> <img src="/assets/logo.png" ></a> 
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12 col-md-3 col-xs-12 tile blue">
            <h3 class="title">Site 3</h3>
            <a target="_blank" href="http://localhost:8084/"> <img src="/assets/logo.png" ></a> 
        </div>
      </div>
</div>

