<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div>
        <img src="assets/MFB_Logo_Plain.jpg"><br />
        <b style="font-size: 20px;">What is MyFamilyBenefits?</b> <br />
        <span>MyFamilyBenefits is an online system that offers Arizona families an easy and secure way to access
          information about:</span>
        <ul>
          <li>Nutrition Assistance (Food Stamps)</li>
          <li>TANF Cash Assistance</li>
        </ul>
        <a href="https://des.az.gov/services">For more information about these programs, visit our Web site.</a>
        <br />
        <b style="font-size: 20px;">What Can I Do on MyFamilyBenefits?</b> <br />
        <span>View information about:</span>
        <ul>
          <li>Applications for assistance</li>
          <li>Benefit status</li>
        </ul>
        <span>Report Changes:</span>
        <ul>
          <li>Address</li>
          <li>Family Members</li>
          <li>Income</li>
          <li>Expenses</li>
        </ul>
        <span>Mid Approval Contact</span>
        <ul>
          <li>Submit Mid Approval Contact Form</li>
        </ul>
        <b style="font-size: 20px;">How do I register for MyFamilyBenefits?</b> <br />
        <span>You can only register for MyFamilyBenefits if you have already applied or are receiving benefits.<a
            href="https://www.healthearizonaplus.gov/Default/Default.aspx">Click here to apply.</a> </span>
        <p>
          You will need your Case Number and other personal information to match our records. Then, you will need to
          create an account by entering a User Name, password and e-mail address. If you do not have an e-mail address,
          you can set one up for FREE from <a
            href="https://www.google.com/accounts/ServiceLogin?service=mail&passive=true&rm=false&continue=http%3A%2F%2Fmail.google.com%2Fmail%2F%3Fui%3Dhtml%26zy%3Dl&bsv=zpwhtygjntrz&scc=1&ltmpl=default&ltmplcache=2">Gmail</a>
          ,<a href="https://login.yahoo.com/config/login"> Yahoo </a>, or <a
            href="https://outlook.live.com/owa/">Outlook</a> . Finally, you will need to read and accept the User
          Agreement. If you need assistance creating an account, click <a href="javascript:popupHelpWindow();">Help</a>
          and select the Account Creation topic.
        </p>
      </div>

    </div>
    <div class="col-md-3">
      <div class="row d-flex justify-content-center" style="height:10%;margin-top: 50%;">
        <div class="col-md-12">
          <a class="btn btn-primary" href="https://des.az.gov/online-services%20" target="_blank">Find Other Services</a>
        </div>
      </div>
      <div class="row d-flex justify-content-center" style="height:10%">
        <div class="col-md-12">
          <a class="btn btn-primary"
            href="https://des.az.gov/services/basic-needs/food-assistance/coordinated-hunger-relief-program-community-partners" target="_blank">Hunger
            Relief Program</a>
        </div>
      </div>
      <div class="row d-flex justify-content-center" style="height:10%">
        <div class="col-md-12">
          <a class="btn btn-primary" href="https://www.healthearizonaplus.gov/Default/Default.aspx" target="_blank">Apply For Benefits</a>
        </div>
      </div>
    </div>
  </div>
</div>